<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Service ID</th>
      <th>Service Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tblservices.each do |tblservice| %>
      <tr>
        <td><%= tblservice.id %></td>
        <td><%= tblservice.serviceName %></td>
        <td><%= number_to_currency(tblservice.price, :unit => "$") %> </td>
        <td><%= link_to 'Show', tblservice %></td>
        <td><%= link_to 'Edit', edit_tbl_service_path(tblservice) %> &nbsp;</td>
        <td><%= link_to 'Destroy', tblservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tblservice', new_tbl_service_path %>
