<center>

<p id="notice"><%= @tblinventory.name %><%= notice %></p>

<p>
  <strong>Inventory ID:</strong>
  <%= @tblinventory.inventoryID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @tblinventory.name %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @tblinventory.price %>.00
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tblinventory.quantity %>
</p>

<%= link_to 'Edit', edit_tblinventory_path(@tblinventory) %> |
<%= link_to 'Back', tblinventories_path %>

</center>
