<%= form_with(model: tblclient, local: true) do |form| %>
  <% if tblclient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tblclient.errors.count, "error") %> prohibited this tblclient from being saved:</h2>

      <ul>
      <% tblclient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= form.label :userName %>
    <%= form.text_field :userName, id: :tblclient_userName %>
  </div>

  <div class="field">
    <%= form.label :firstName %>
    <%= form.text_field :firstName, id: :tblclient_firstName %>
  </div>

  <div class="field">
    <%= form.label :lastName %>
    <%= form.text_field :lastName, id: :tblclient_lastName %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :tblclient_password %>
  </div>

  <div class="field">
    <%= form.label :phoneNumber %>
    <%= form.text_field :phoneNumber, id: :tblclient_phoneNumber %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :tblclient_email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :tblclient_address %>
  </div>

  <div class="field">
    <%= form.label :postalCode %>
    <%= form.text_field :postalCode, id: :tblclient_postalCode %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
