<center>
     
<div class="backback">
   <h1>Clients</h1>
<div class="row">

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Clientid</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Password</th>
      <th>Phonenumber</th>
      <th>Email</th>
      <th>Address</th>
      <th>Postalcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tblclients.each do |tblclient| %>
      <tr>
        <td><%= tblclient.clientID %></td>
        <td><%= tblclient.firstName %></td>
        <td><%= tblclient.lastName %></td>
        <td><%= tblclient.password %></td>
        <td><%= tblclient.phoneNumber %></td>
        <td><%= tblclient.email %></td>
        <td><%= tblclient.address %></td>
        <td><%= tblclient.postalCode %></td>
        <td><%= link_to 'Show', tblclient %></td>
        <td><%= link_to 'Edit', edit_tblclient_path(tblclient) %></td>
        <td><%= link_to 'Destroy', tblclient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tblclient', new_tblclient_path %>
<br>

<style>
  #table {
    color: black;
    text-align:center;
    letter-spacing:1.5px;   
    line-height: 1.5;
}

table, th, td {
   border: 1px solid white;
}
</style>



<table>

<%= @testingjoin.each do |d| %>
    <tr>    
        <td>
          <%= d.tblclient.firstName %>
        </td>
        <td><%= d.dogName %></td>
    </tr>
<% end %>  
</table>




</div>
    
</div>
</center>
