<p id="notice"><%= notice %></p>

<p>
  <strong>Clientid:</strong>
  <%= @tblclient.clientID %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @tblclient.clientID %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @tblclient.lastName %>
</p>

<p>
  <strong>Password:</strong>
  <%= @tblclient.password %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @tblclient.phoneNumber %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tblclient.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @tblclient.address %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @tblclient.postalCode %>
</p>

<%= link_to 'Edit', edit_tblclient_path(@tblclient) %> |
<%= link_to 'Back', tblclients_path %>


</br>

