<%= form_with(model: tbldog, local: true) do |form| %>
  <% if tbldog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tbldog.errors.count, "error") %> prohibited this tbldog from being saved:</h2>

      <ul>
      <% tbldog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dogName %>
    <%= form.text_field :dogName, id: :tbldog_dogName %>
  </div>

  <div class="field">
    <%= form.label :dogSize %>
    <%= form.text_field :dogSize, id: :tbldog_dogSize %>
  </div>

  <div class="field">
    <%= form.label :tbl_users_id %>
    <%= form.number_field :tbl_users_id, id: :tbldog_tbl_users_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
