<p id="notice"><%= notice %></p>

<p>
  <strong>Dogid:</strong>
  <%= @tbldog.id %>
</p>

<p>
  <strong>Dogname:</strong>
  <%= @tbldog.dogName %>
</p>

<p>
  <strong>Dogsize:</strong>
  <%= @tbldog.dogSize %>
</p>

<p>
  <strong>Clientid:</strong>
  <%= @tbldog.tbl_users_id %>
</p>

<%= link_to 'Edit', edit_tbl_dog_path(@tbldog) %> |
<%= link_to 'Back', tbl_dogs_path %>
