<p id="notice"><%= notice %></p>

<h1>Tblstaffs</h1>

<table>
  <thead>
    <tr>
      <th>Staffid</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Password</th>
      <th>Phonenumber</th>
      <th>Email</th>
      <th>Address</th>
      <th>Postalcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tblstaffs.each do |tblstaff| %>
      <tr>
        <td><%= tblstaff.staffID %></td>
        <td><%= tblstaff.firstName %></td>
        <td><%= tblstaff.lastName %></td>
        <td><%= tblstaff.password %></td>
        <td><%= tblstaff.phoneNumber %></td>
        <td><%= tblstaff.email %></td>
        <td><%= tblstaff.address %></td>
        <td><%= tblstaff.postalCode %></td>
        <td><%= link_to 'Show', tblstaff %></td>
        <td><%= link_to 'Edit', edit_tblstaff_path(tblstaff) %></td>
        <td><%= link_to 'Destroy', tblstaff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tblstaff', new_tblstaff_path %>
