<p id="notice"><%= notice %></p>

<h1>Tblservices</h1>

<table>
  <thead>
    <tr>
      <th>Serviceid</th>
      <th>Servicename</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tblservices.each do |tblservice| %>
      <tr>
        <td><%= tblservice.serviceID %></td>
        <td><%= tblservice.serviceName %></td>
        <td><%= tblservice.price %></td>
        <td><%= link_to 'Show', tblservice %></td>
        <td><%= link_to 'Edit', edit_tblservice_path(tblservice) %></td>
        <td><%= link_to 'Destroy', tblservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tblservice', new_tblservice_path %>
