<%= form_with(model: tblbooking, local: true) do |form| %>
  <% if tblbooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tblbooking.errors.count, "error") %> prohibited this tblbooking from being saved:</h2>

      <ul>
      <% tblbooking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dateTime, value: "Date and Time: " %>
    
    <%#= form.collection_select(:dateTime, TblSchedule.all, :dateTime, :dateTime, {:include_blank => 'Please Select Date and Time'}) %>
  </div>

  <div class="field">
    <%= form.label :tbl_schedules_id, value: "Schedules: " %>
    
    <%= form.collection_select(:tbl_schedules_id, TblSchedule.where(["tbl_schedules.isTaken = false || tbl_schedules.id = ?", tblbooking.tbl_schedules_id]), :id, :full_message, {:include_blank => 'Please Select Date and Time'}) %>
  </div>

  <div class="field">
    <%= form.label :isPaid?, value: "Is Paid?: " %>
    <%= form.check_box :isPaid?, id: :tblbooking_isPaid? %>
  </div>

  <div class="field">
    <%= form.label :tbl_dogs_id, value: "Dog: " %>

    <%= form.collection_select(:tbl_dogs_id, TblDog.all, :id, :dogName, {:include_blank => 'Please Select Dog'}) %>
  </div>

  <div class="field">
    <%#= form.label :tbl_users_id, value: "Staff: " %>
    <%#= form.collection_select(:tbl_users_id, TblUser.where("tbl_users.userType =  '2' || tbl_users.userType = '1'"), :id, :full_name , {:include_blank => 'Please Select Staff'}) %>
  </div>

  <div class="field">
    <%= form.label :tbl_services_id, value: "Service: " %>
    <%= form.collection_select(:tbl_services_id, TblService.all, :id, :serviceName , {:include_blank => 'Please Select Service'}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



