
<center>
     
<div class="backback">
   <h1>Bookings</h1>
<div class="row">


<p id="notice"><%= notice %></p>

<table border="1">
  <thead>
    <tr>
      <th>Booking &nbsp;</th>
      <th>Datetime&nbsp;</th>
      <th>Ispaid?&nbsp;</th>
      <th>Dog&nbsp;</th>
      <th>Staff_ID&nbsp;</th>
      <th>Service_ID&nbsp;</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tblbookings.each do |tblbooking| %>
      <tr>
        <td><%= tblbooking.id %></td>
        <td><%= tblbooking.dateTime.strftime("%d/%m/%Y %H:%M") %></td>
        <td><%= tblbooking.isPaid? %></td>
        <td><%= tblbooking.tbl_dogs_id %></td>
        <td><%= tblbooking.tbl_users_id %></td>
        <td><%= tblbooking.tbl_services_id %></td>
        <td><%= link_to 'Show', tblbooking %></td>
        <td><%= link_to 'Edit', edit_tbl_booking_path(tblbooking) %> &nbsp;</td>
        <td><%= link_to 'Destroy', tblbooking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_tbl_booking_path %>


<style>
  #table {
    color: black;
    text-align:center;
    letter-spacing:1.5px;   
    line-height: 1.5;
}

table, th, td {
   border: 1px solid white;
}
</style>

</div>
    
</div>
</center>