<%= form_with(model: tblrating, local: true) do |form| %>
  <% if tblrating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tblrating.errors.count, "error") %> prohibited this tblrating from being saved:</h2>

      <ul>
      <% tblrating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ratingID %>
    <%= form.number_field :ratingID, id: :tblrating_ratingID %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :tblrating_rating %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :tblrating_comment %>
  </div>

  <div class="field">
    <%= form.label :clientID %>
    <%= form.number_field :clientID, id: :tblrating_clientID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
