<p id="notice"><%= notice %></p>

<h1>Tblratings</h1>

<table>
  <thead>
    <tr>
      <th>Ratingid</th>
      <th>Rating</th>
      <th>Comment</th>
      <th>Clientid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tblratings.each do |tblrating| %>
      <tr>
        <td><%= tblrating.ratingID %></td>
        <td><%= tblrating.rating %></td>
        <td><%= tblrating.comment %></td>
        <td><%= tblrating.clientID %></td>
        <td><%= link_to 'Show', tblrating %></td>
        <td><%= link_to 'Edit', edit_tblrating_path(tblrating) %></td>
        <td><%= link_to 'Destroy', tblrating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tblrating', new_tblrating_path %>
