<%= form_with(model: tblbooking, local: true) do |form| %>
  <% if tblbooking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tblbooking.errors.count, "error") %> prohibited this tblbooking from being saved:</h2>

      <ul>
      <% tblbooking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bookingID %>
    <%= form.number_field :bookingID, id: :tblbooking_bookingID %>
  </div>

  <div class="field">
    <%= form.label :dateTime %>
    <%= form.time_select :dateTime, id: :tblbooking_dateTime %>
  </div>

  <div class="field">
    <%= form.label :isPaid? %>
    <%= form.check_box :isPaid?, id: :tblbooking_isPaid? %>
  </div>

  <div class="field">
    <%= form.label :dogID %>
    <%= form.number_field :dogID, id: :tblbooking_dogID %>
  </div>

  <div class="field">
    <%= form.label :staffID %>
    <%= form.number_field :staffID, id: :tblbooking_staffID %>
  </div>

  <div class="field">
    <%= form.label :serviceID %>
    <%= form.number_field :serviceID, id: :tblbooking_serviceID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



