<p id="notice"><%= notice %></p>

<p>
  <strong>Ratingid:</strong>
  <%= @tblrating.ratingID %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @tblrating.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @tblrating.comment %>
</p>

<p>
  <strong>Clientid:</strong>
  <%= @tblrating.clientID %>
</p>

<%= link_to 'Edit', edit_tblrating_path(@tblrating) %> |
<%= link_to 'Back', tblratings_path %>
