<p id="notice"><%= notice %></p>

<p>
  <strong>Dogid:</strong>
  <%= @tbldog.dogID %>
</p>

<p>
  <strong>Dogname:</strong>
  <%= @tbldog.dogName %>
</p>

<p>
  <strong>Dogsize:</strong>
  <%= @tbldog.dogSize %>
</p>

<p>
  <strong>Clientid:</strong>
  <%= @tbldog.clientID %>
</p>

<%= link_to 'Edit', edit_tbldog_path(@tbldog) %> |
<%= link_to 'Back', tbldogs_path %>
