

<div class="site-container">
  <div class="site-pusher">
    
    <header class="header">
      
      <a href="#" class="header__icon" id="header__icon"></a>
        <a href="#" class="header__logo">The Dog House</a>
     
        
      <nav class="menu">
        <a><%= link_to "Home", root_path %></a>
        <a><%= link_to "Contact", contact_path %></a>
        <a><%= link_to "Services", services_path %></a>
         
        <a><%= link_to "Reviews", "#" %></a>
          
        
          <a><%= link_to "Login", login_path, class: "special" %></a>
          <a><%= link_to "Sign Up", signup_path, class: "special" %></a>
            
        
      </nav>
      
    </header>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      
      

      
<script>
$(document).ready(function(){

	(function($) {

		$('#header__icon').click(function(e){
			e.preventDefault();
			$('body').toggleClass('with--sidebar');
		});
    
    $('#site-cache').click(function(e){
      $('body').removeClass('with--sidebar');
    });

	})(jQuery);
    
  

});
    
</script>