<!DOCTYPE html>
<html>
  <head>
    <title>The Dog House</title>
      
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Lobster" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= csrf_meta_tags %>
   
      <%= stylesheet_link_tag 'home' if controller_name == 'home' %>
      <%= stylesheet_link_tag 'static'%>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' if controller_name == 'application' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
     <%= render 'layouts/header' %>
   
      
        
        <%= yield %>
        
        
      
      <%= render 'layouts/footer' %>
  </body>
</html>
